---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Lucas Derr"
	description="About Jeanine White Lorem Ipsum"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<!-- <Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Lucas Derr at work with a colleague"
				/>
			</Hero> -->

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My name is Lucas Derr, and I hold a Bachelor’s in
						Computer Science (May 2023) and a Master’s in Data
						Science (May 2024) from CU Boulder. Throughout my
						education, I developed a strong passion for working with
						data and its ability to drive smarter, more efficient
						solutions.
					</p>
					<p>
						I have gained hands-on experience during internships at
						two startups—one as a data scientist building machine
						learning models for insurance claims, and another as a
						full-stack developer at a Dutch consultancy. I have an
						unyielding passion for building efficient, useful, and
						innovative software, and plan to spend my career
						continuing to do so.
					</p>
					<p>
						I am currently seeking opportunities to grow and gain experience in data science/engineering. I am passionate about the power that data has to drive decisions, and confident in my ability to learn, grow, and contribute at a high level to any organization. Feel free to reach out to me via phone: (510)-590-0905 or email: lucasrderr@gmail.com
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Some Interests!</h2>
				<div class="content">
					<p>
						<p>
							<strong>Basketball:</strong> I am an avid basketball player and fan. You can find me every Sunday playing pickup games at the YMCA.
						</p>
						<p>
							<strong>Skiing:</strong> Naturally, I spent many of my college weekends on the slopes in Colorado. 
						</p>
						<p>
							<strong>Chess:</strong> I have been playing chess for about 6 years. I love how it requires a combination of concrete calculation and abstract pattern recognition.
						</p>
						<p>
							<strong>Bass:</strong> I am a big music nerd. I learned to play the bass guitar in college and mostly try to replicate basslines of songs I like. My favorite bassists are: Cliff Burton, Geezer Butler, and Geddy Lee.
						</p>
						<p>
							<strong>Cooking:</strong> I got really into cooking in college. In particular, my Chicken Tikki Masala has turned some  heads ;)
						</p>
						
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		/* grid-column: 2 / 4; */
		padding: 0 1rem; /* Add horizontal padding */
		max-width: 800px; /* Optional: set a max width to prevent stretching */
		margin: 0 auto; /* Optional: center the content */
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
