---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
---

<BaseLayout
	title="Video | Lucas Derr"
	description="A short video introduction from Lucas Derr"
>
	<div class="stack gap-20">
		<main class="wrapper video">
			<section>
				<h2 class="section-title">Meet Me!</h2>
				<div class="content">
					<p>
						Thanks for stopping by! Below is a short video I created to introduce myself. I hope it gives you a better sense of who I am as both a professional and a person.
					</p>

					<div class="video-wrapper">
						  <video controls width="640" height="360" title="Introductory video by Lucas Derr">
                            <source src="public\assets\personal_website_intro.mp4" type="video/mp4" />
                            Your browser does not support the video tag.
                        </video>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.video {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		padding: 0 1rem;
		max-width: 800px;
		margin: 0 auto;
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 ratio */
		padding-top: 25px;
		height: 0;
		margin-top: 1.5rem;
		box-shadow: var(--shadow-md);
		border-radius: 1.5rem;
		overflow: hidden;
	}

	.video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
		border-radius: 1.5rem;
	}

	@media (min-width: 50em) {
		.video {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.video > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
